---
import Layout from '../layouts/Layout.astro';
const pageTitle = "cua843";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="space.webp"/>
    </div>
    <h1>cua843</h1>
    <span class="badge">學生</span>
    <h2>關於-About</h2>
    <p>
        高三生，是個01/30的♒，雖然是選手，但真正的技能樹有點混亂......這邊應該會用來紀錄我開發過的專案之類的
    </p>
    <p>
    <h3>未來目標🗒️</h3>
        <ul>
            <li>ESP開發板內容教學</li>
            <li>Python相關開發</li>
            <li>跨領域系統整合</li>
            <li>網頁主題(模板)開發</li>
            <li>學習資訊安全、網頁設計相關技能</li>
        </ul>
    </p>
    <h2>經歷-Experience</h2>
    <p>
        <ul>
            <li>18th身障技能競賽-資料庫建置：第二名🥈</li>
            <li>14th自科社幹部-網管</li>
        </ul>
    </p>
    <h2>技能-Skills</h2>
    <p>
        <ul>
            <li>3D列印(設備操作、維修、維護)</li>
            <li>一點Python🐍</li>
            <li>Access資料庫(選手職類)</li>
        </ul>
    </p>
    <!-- 
    <div class="skills center"> 
    </div>
    
     
    <div class="center">
        <a href="/works/">
            <button class="btn">Projects</button>
        </a>
        <a href="/posts/">
            <button class="btn">Blog</button>
        </a>
    -->
    </div>
</Layout>

